<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/contact">Contact</a>
  <a href="/about">About</a>
  <a href="about/mon_groupe">Mon groupe</a>
  <a href="about/moi">Moi</a>
</div>

<h1>C'est la page contact</h1>
<p>Mon mails c'est tu-aimerais-bien-savoir@gmail.com</p>
